In [1]:
import pandas as pd
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
import os

In [2]:
os.chdir('../')
os.getcwd()

'/Users/alejandratoro/Desktop/MDS7201/MDS7201-Opwiser'

In [3]:
df = pd.read_csv('processed/dataset.csv')
df

/var/folders/cw/t3sf_6b90js7ng58q25wlsm00000gn/T/ipykernel_74607/2015938877.py:1: DtypeWarning: Columns (26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('processed/dataset.csv')

,codigo_producto2,fecha,stock_disponible_total,cantidad,venta_total_neto,costo_total,id_tipo_factura2,descripcion_tipo_factura2,numero_documento2,cuenta_clave2,...,imce_comercio,imce_general,ine_alimentos,ine_supermercados,tpm,pib,tavg,tmin,tmax,wspd
0,A1,2021-01-04,72449000.0,6000.0,2.912400e+18,2.069607e+18,B1,C1,D119713,I1,...,56.956522,54.379643,107.710735,108.075042,0.50,17172.917954,23.0,14.8,31.0,4.9
1,A1,2021-01-04,72449000.0,12000.0,5.824800e+18,4.139215e+18,B1,C1,D119719,I1,...,56.956522,54.379643,107.710735,108.075042,0.50,17172.917954,23.0,14.8,31.0,4.9
2,A1,2021-01-04,72449000.0,6000.0,2.912400e+18,2.069607e+18,B1,C1,D119735,I1,...,56.956522,54.379643,107.710735,108.075042,0.50,17172.917954,23.0,14.8,31.0,4.9
3,A1,2021-01-04,72449000.0,600000.0,3.444000e+20,2.069607e+20,B1,C1,D119801,I11,...,56.956522,54.379643,107.710735,108.075042,0.50,17172.917954,23.0,14.8,31.0,4.9
4,A1,2021-01-04,72449000.0,600000.0,3.444000e+20,2.069607e+20,B1,C1,D119808,I11,...,56.956522,54.379643,107.710735,108.075042,0.50,17172.917954,23.0,14.8,31.0,4.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994167,A98,2023-02-01,180000.0,0.0,0.000000e+00,0.000000e+00,B1,C2,1,I9,...,42.857143,42.139477,99.780515,99.338529,11.25,18014.820712,15.7,14.6,30.8,5.2
994168,A98,2023-02-01,180000.0,0.0,0.000000e+00,0.000000e+00,B1,C2,1,I9,...,42.857143,42.139477,99.780515,99.338529,11.25,18014.820712,15.7,14.6,30.8,5.2
994169,A98,2023-02-01,180000.0,0.0,0.000000e+00,0.000000e+00,B1,C2,1,I13,...,42.857143,42.139477,99.780515,99.338529,11.25,18014.820712,15.7,14.6,30.8,5.2
994170,A98,2023-02-01,180000.0,0.0,0.000000e+00,0.000000e+00,B1,C2,1,I4,...,42.857143,42.139477,99.780515,99.338529,11.25,18014.820712,15.7,14.6,30.8,5.2
994171,A98,2023-04-06,180000.0,0.0,-3.900000e+18,0.000000e+00,B4,C3,D215279,I2,...,43.055556,41.401995,107.459541,103.791308,11.25,16584.234266,14.1,11.9,28.4,2.2

In [ ]:
fig, ax1 = plt.subplots(figsize=(12, 6))
data_combined = df.copy()
# Gráfico de barras para las ventas
ax1.bar(data_combined['fecha'], data_combined['venta_total_neto'], color='skyblue', label='Ventas', alpha=0.7)
ax1.set_xlabel('Fecha')
ax1.set_ylabel('Ventas', color='blue')
ax1.tick_params(axis='y', labelcolor='blue')

# Crear un segundo eje y para el stock
ax2 = ax1.twinx()
ax2.plot(data_combined['fecha'], data_combined['stock_disponible_total'], color='orange', label='Stock', linewidth=2)
ax2.set_ylabel('Stock', color='orange')
ax2.tick_params(axis='y', labelcolor='orange')

# Agregar leyenda
fig.legend(loc='upper right', bbox_to_anchor=(1, 1), bbox_transform=ax1.transAxes)

# Título y estilo del gráfico
plt.title('Ventas y Stock a lo Largo del Tiempo')
plt.tight_layout()
plt.show()